$primary: rgb(57, 88, 224);
$primary_light: rgb(139, 160, 255);
$primary_dark: rgb(18, 19, 97);

html,
body {
    margin: 0 !important;
    background-color: black;
    overflow-x: hidden;
    height: 100vh;
    overflow: hidden;
}

h2 {
    margin: 10px;
    margin-top: 0 !important;
    padding-top: 20px;
    color: $primary;
}

button {
    height: 40px;
    width: 100px;
    margin-bottom: 5px;
    border: 2px solid $primary;
    background-color: $primary_dark;
    color: white;
    font-size: 14px;
    border-radius: 7px;
}
button:disabled {
    opacity: 0.5;
}
input {
    width: 80%;
    height: 35px;
    border: 2px solid $primary;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    max-width: 300px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
}

video {
    margin: 0;
}

.main_content {
    height: 100vh;
    margin: auto;
    .contents {
        display: grid;
    }
    #remoteVideo {
        width: 100%;
        height: auto;
        max-height: 80vh;
        margin: 0;
        margin-bottom: 20px;
        background-color: black;
    }
    .button_container {
        margin: auto;
        width: 90%;
        margin: auto;
        position: absolute;
        @media screen and (orientation: portrait) {
            bottom: 0px;
            left: 5vw;
        }

        @media screen and (orientation: landscape) {
            width: 200px;
            right: 2%;
            bottom: 2%;
        }
    }
    #webcamVideo {
        background-color: black;
        margin: 5px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 5px;
        border-radius: 10px;
        max-width: 90%;
        max-height: 20vh;
        @media screen and (orientation: landscape) {
            bottom: 0vh;
        }

        @media screen and (orientation: portrait) {
            bottom: 00px;
        }
    }
    #callInput {
        margin-top: 00px;
        margin-bottom: 10px;
    }
    .error {
        margin-top: 10px;
        margin-bottom: 10px;
        color: $primary;
    }
    #answerButton {
        display: none;
    }
    #webcamButton {
        display: none;
    }
}
